.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.App > main {
    flex: 1;
}

.Button {
    cursor: pointer;
    padding: 0.5em;
    border: none;
    background-color: var(--black);
    color: var(--white);
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    min-width: 10em;
    border-radius: 0.5em;
}

a {
    color: var(--orange);
}

label {
    color: var(--black);
}

.error {
    color: var(--danger);
}