main.Home {
    padding: 1em;
}

main.Home .Home-Container {
    display: flex;
    justify-content: space-between;
}

main.Home .EyeCatcher {
    flex: 2;
}

main.Home .Gallery {
    flex: 3;
}

main.Home .Home-VideoContainer {
    margin-top: 2em;
    display: flex;
}