@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

:root {
  --black: #0A0909;
  --blue: #B1C1D3;
  --paper: #F9F5EE;
  --orange: #FF6F59;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--paper);
}

@media only screen and (max-width: 600px) {
  body {

  }
}