h1.title {
    color: var(--orange);
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
}

main.Registration {
    display: flex;
    justify-content: center;
}

main.Registration > div {
    display: flex;
    flex-direction: column;
}

main.Registration p {
    text-align: center;
}

main.Registration p {
    text-align: center;
}

main.Registration div.Registration-Subtitle {
}

main.Registration div.Registration-Signup {
    margin: 2em 0;
}

a {
    color: var(--orange);
}