h1.title {
    color: var(--orange);
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
}
div.soustitle p {
    text-align: center;
    font-weight: bold;
}
.signupbutton button {
    min-width: 32%;
    cursor: pointer;
    margin-left: 450px;
    margin-top: 0.5em;
    padding: 	1em;
    border: none;
    border-radius: 4px;
    background-color: #1E3231;
    color: #fefefe;
  }
  .emailsignup{
    margin-left: 590px;
  }
  p{
      text-align: center;
  }