h1.signintitle {
    color: var(--orange);
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
}

form {
    margin-left: 80px;
    color: #444;
    font-weight: lighter;
  }

  button {
    min-width: 32%;
    cursor: pointer;
    margin-left: 0.1em;
    margin-top: 0.5em;
    padding: 	1em;
    border: none;
    border-radius: 4px;
    background-color: #1E3231;
    color: #fefefe;
  }

  .submit {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }